.noticias{
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    background-color: #444444; /* Color de fondo más oscuro */
    margin-bottom: 15px; /* Agrega espacio entre tarjetas */
    color: #ffffff; /* Texto en color blanco */
    font-size: 0.9em;
    height: 100px;
}