.subnavbar {
        background-color: #c5bdbd;
        padding: 0.5rem;
        margin-bottom: 35px;
        display: flex; /* Usar flexbox para alinear el contenido */
      }
      
      .dolar {
        display: flex; /* Alinear los h3 horizontalmente */
        align-items: center;
        gap: 0.5rem; /* Espacio entre los h3 */
      }
      
      .dolar h3 {
        margin: 0;
        padding: 0;
        display: inline; /* Asegurar que los h3 estén en línea */
      }
      
      .dolar h3::after {
        content: "•"; /* Añadir un punto después de cada h3 */
        margin-left: 0.5rem; /* Espacio entre el texto y el punto */
      }
      
      .dolar h3:last-child::after {
        content: ""; /* No mostrar el punto después del último h3 */
      }

      @media screen and (max-width: 780px) {
        .dolar {
            font-size: 0.8em; /* Tamaño de fuente reducido */
        }
      }
    
      